main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.battle-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.battle-container span {
  font-weight: 900;
  font-size: 40px;
}

.dice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.dice-container h3 {
  font-weight: 900;
  font-size: 30px;
}
